@font-face {
    font-family: 'pusab'; 
	src: url(/fonts/PUSAB_Rus.ttf); 
}

@font-face {
    font-family: 'oxygene1'; 
	src: url(/fonts/OXYGENE1.TTF); 
}

.center {
    text-align: center;
}

.pencil {
    color: white;
}

.pencil:hover {
    color: #000000;
}

.size128 {
    font-size: 128px;
}
.size64 {
    font-size: 64px;
}
.size32 {
    font-size: 32px;
}
.size16 {
    font-size: 16px;
}
.size8 {
    font-size: 8px;
}
.size4 {
    font-size: 4px;
}
.size2 {
    font-size: 2px;
}

.pusab {
    font-family: 'pusab';
}
.oxygene1 {
    font-family: 'oxygene1';
}